.row {
    background-color: #f0eded;;
    display: flex;
    justify-content: space-between;
    /* width: 97vw; */
    padding: 1%;
    margin: 0.2%;
}
.amountStyle {
    width: 8vw;
    text-align: center;
    color: white
}